.container {
  background: var(--secondary);
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}
