@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1rem;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary);
}

button {
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

#notif-popup {
  display: none;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 425px;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
  position: fixed;
  top: 1rem;
}

.container {
  background: var(--secondary);
  padding: 1rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

#notif-popup p {
  color: var(--primary);
  font-weight: 600;
}

#converter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  gap: 2rem;
}

#converter-action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  max-width: 768px;
}

#converter-action-buttons button {
  width: 100%;
  border: 0.2rem solid var(--secondary);
}

@media screen and (min-width: 768px) {
  #converter-action-buttons {
    justify-content: start;
  }

  #converter-action-buttons button {
    width: 10rem;
  }
}

#convert {
  background: var(--secondary);
}

#history {
  background: none;
  color: var(--secondary);
}

@media screen and (min-width: 768px) {
  #converter-container {
    padding: 2rem;
  }
}

#title {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: 800;
  color: #0d0d0d;
}

#convert-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 1.4rem;
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  border: thin solid var(--white);
  max-width: 768px;
  box-shadow: 0rem 0.5rem 0.5rem rgb(250, 248, 255, 0.2);
  color: var(--white);
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #convert-form {
    padding: 2rem;
  }
}

#cheque-value {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: none;
  border-bottom: 0.2rem solid var(--primary);
  color: var(--primary);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

#cheque-value:focus {
  border-bottom: 0.4rem solid var(--primary);
}

#submitForm {
  width: 100%;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 20rem;
  font-size: 1.2rem;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

#submitForm:hover {
  box-shadow: 0rem 0.5rem 0.5rem var(--shadow);
}

#output-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background: var(--white);
  gap: 2rem;
  overflow-y: auto;
}

#result {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 600;
}

#result-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

#result-action-buttons button {
  background: none;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0rem;
}

#clear-button {
  color: crimson;
}

#copy-button {
  color: var(--primary);
}

#result-action-buttons button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

#history-container {
  display: none;
  justify-content: start;
  overflow: hidden;
  height: 100%;
}

#results-wrapper {
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.result-row {
  background: rgb(230, 230, 230);
  padding: 1rem;
  border-radius: 0.4rem;
  width: 100%;
  color: black;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.result-row span {
  font-weight: 600;
}

#delete {
  background: none;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: crimson;
  margin-left: auto;
}

#delete:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
